ENVIRONMENT="dev"
SUPABASE_URL="postgresql://postgres:postgres@127.0.0.1:54322/postgres"
UBISOFT_URL="https://public-ubiservices.ubi.com/v3/profiles/sessions"
UBISOFT_APPID="3587dcbb-7f81-457c-9781-0e3f29f6f56a"
UBISOFT_NEWAPPID="e3d5ea9e-50bd-43b7-88bf-39794f4e3d40"
UBISOFT_USERAGENT="UbiServices_SDK_2020.Release.58_PC64_ansi_static" 